{% extends "ChangePricesPlugin::layouts.index" %}

{% block content %}
    <div class="container">
        <form method = "POST" action = "https://change-prices-plugin-services-sakalauskas.c9users.io/ChangePricesPluginServices/public/time" >
            <div class="form-group">
                <div class="form-control">
                    <label for = "start" >Start time:</label>
                    <input type = "time" name = "start"></input>
                </div>
                <div class="form-control">
                    <label for = "end" >End time:</label>
                    <input type = "time" name = "end"></input>
                </div>
            </div>
            <input type="submit" value="Submit">
        </form>    
    </div>
    Result: {{ test | json_encode() }}
    Result: {{ res | json_encode() }}
{% endblock %}



