{% extends "ChangePricesPlugin::layouts.index" %}

{% block content %}
    <div class="col-md-4">
        <form method = "POST" action = "https://change-prices-plugin-services-sakalauskas.c9users.io/ChangePricesPluginServices/public/time" >
            <div class="form-group">
                <div class="form-control">
                    <label for = "start" >Start time:</label>
                    <input type = "time" name = "start"></input>
                </div>
                <div class="form-control">
                    <label for = "end" >End time:</label>
                    <input type = "time" name = "end"></input>
                </div>
            </div>
            <input class ="btn btn-success" type="submit" value="Submit">
        </form>    
    </div>
    <pre>
        {% for result in res %}

        {# json_decode() part is imaginary #}
    
        {% set obj = res|json_decode() %}
        
        {% endfor %}
    </pre>
{% endblock %}



