<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ChangePricesPlugin</title>
        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
            {% block content %}
                <!-- Main content inserted here -->
            {% endblock %}
        </div>
    </body>
</html>